#lab2, #lab2 a{
  color:yellow;
}
body main nav ol {background-color: pink}
body {
  font-family: georgia;
  font-size: 120%;
  text-align: left;
  margin-left: 300px;
  margin-right: 300px}


}
}
}


}
